<?xml version="1.0"?>

<!-- Main header to define URDF name and if xacro files will be used-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rethink_pneumatic_gripper">

<!-- Author: Héctor Quijada Valle -->
<!-- Macro name defined inside macro file, so it can be called from a different URDF file -->
<!-- side, always "right" for Sawyer, if gazebo simulation to be used set to "true", if ft_sensor needed set to "true", option to change slot position from "1" to "10" --> 
<xacro:macro name="rethink_pneumatic_gripper" params="side gazebo use_ftsensor tip_slot_pos finger_slot_pos">

<!-- Lenght Properties of each element in End of Arm Tooling -->
<!-- #ToDo Update distances in meters for pneumatic gripper -->
	
    <xacro:property name="end_of_arm_offset" value="-0.009" scope="local"/>
    <xacro:property name="tip_slot_offset" value="0.015" scope="local"/>
    <xacro:property name="finger_slot_offset" value="-0.008" scope="local"/>
    <xacro:property name="connector_plate_length" value="0.032" scope="local"/>
    <xacro:property name="pneumatic_gripper_base_length" value="0.0282" scope="local"/>
    <xacro:property name="ft_sensor_length" value="0.033" scope="local"/>
    <xacro:property name="adapter_top_length" value="0.013" scope="local"/>
    <xacro:property name="adapter_bottom_length" value="0.018" scope="local"/>

<!-- Finger Length Properties -->
    <xacro:property name="finger_move_length" value="0.012" scope="local"/>
    <xacro:property name="finger_base_length" value="0.006" scope="local"/>
    <xacro:property name="finger_to_tip_length" value="${0.0726-((tip_slot_pos-1)*0.015)}" scope="local"/>
    <xacro:property name="finger_total_length" value="${finger_move_length + finger_base_length + finger_to_tip_length}" scope="local"/>

<!-- Start Kinematic Chain -->
<!-- Structure is ordered as a tree: link, joint, link, to observe geometrical relationships between each of them-->

    <!-- Base of whole end effector - (Connector Plate + F/T Sensor + Adapter + Pneumatic Gripper + Fingers + Tips) -->
    <!-- #ToDo Update Mass and origin? is it the CoM? -->
    <link name="${side}_gripper_base">
      <inertial>
        <!-- Sum Gripper Mass - for whole end effector, measured from end of plastic cuff -->
        <mass value="2e-6"/>
        <origin rpy="0 0 0" xyz="0.0 0.0 0.065"/>
        <inertia ixx="1e-08" ixy="0" ixz="0" iyy="1e-08" iyz="0" izz="1e-08"/>
      </inertial>
    </link>

     <!-- Connector Plate Joint -->
     <joint name="${side}_connector_plate_base_joint" type="fixed">
       <origin xyz="0 0 0.0018" rpy="0 0 0" />
       <parent link="${side}_gripper_base"  />
       <child  link="${side}_connector_plate_base" />
     </joint>
     
     <!-- Connector Plate base Link -->
     <link name="${side}_connector_plate_base">
      <inertial>
	      <origin xyz="0 0 0.0151" rpy="${pi} 0 0" />
        <mass value="0.35993" />
        <inertia ixx="0.0002028057"  ixy="8.957633E-8"  ixz="-4.3426134E-7" iyy="0.0002052363"  iyz="1.243621E-8" izz="0.0003914837" />
      </inertial>
      <visual>
	<origin xyz="0 0 0" rpy="${pi} 0 0" />
        <geometry>
		<mesh filename="package://intera_tools_description/meshes/smart_pneumatic_gripper/STL/smart_click_adapter.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="black">
          <color rgba="0.05 0.05 0.05 1" />
        </material>
      </visual>
      <collision>
	  <origin xyz="0 0 0.0135" rpy="${pi} 0 0" />
          <geometry>
            <cylinder length="${connector_plate_length}" radius="0.06"/>
          </geometry>
          <material name="darkred">
            <color rgba=".5 .1 .1 1"/>
          </material>
      </collision>
    </link>
    <xacro:if value="${gazebo}">
      <gazebo reference="${side}_connector_plate_base">
        <material>Gazebo/FlatBlack</material>
      </gazebo>
    </xacro:if>

    <!-- Connector Plate base-mount joint -->
    <joint name="${side}_connector_plate_mount_joint" type="fixed">
	    <origin xyz="0 0 ${connector_plate_length} " rpy="0 0 0" />
      <parent link="${side}_connector_plate_base"  />
      <child  link="${side}_connector_plate_mount" />
    </joint>

    <!-- Connector Plate mount link --> 
    <link name="${side}_connector_plate_mount" />

    <!-- Connector plate mount-F/T sensor joint -->
    <joint name="${side}_connector_plate_ft_sensor_joint" type="fixed">
	    <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${side}_connector_plate_mount"  />
      <child  link="${side}_ft_sensor_link" />
    </joint>

    <!-- F/T sensor link -->
    <link name="${side}_ft_sensor_link">
      <visual>
	      <origin xyz="0 0 0" rpy="${pi} 0 ${pi/2}" />
        <geometry>
		<mesh filename="package://intera_tools_description/meshes/smart_pneumatic_gripper/STL/ati_9105_t_delta.STL" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision>
	      <origin xyz="0 0 ${ft_sensor_length*0.5}" rpy="${pi} 0 ${pi/2}" />
        <geometry>
		<cylinder length="${ft_sensor_length}" radius="0.046"/>
        </geometry>
        <material name="darkred">
          <color rgba=".5 .1 .1 1"/>
        </material>
      </collision>
      <inertial>
	      <origin rpy="${pi} 0 ${pi/2}" xyz="0 0 ${ft_sensor_length*0.5}"/>
        <mass value="0.91464"/>
        <inertia ixx="0.0005579296" ixy="2.3164887E-7" ixz="3.046139E-8" iyy="0.000558405" iyz="-2.7494062E-7" izz="0.0009490083"/>
      </inertial>
    </link>
    <xacro:if value="${gazebo}">
      <gazebo reference="${side}_ft_sensor_link">
        <material>Gazebo/Grey</material>
      </gazebo>
    </xacro:if>


    <!-- F/T Sensor-Adapter Top Part Joint -->
    <joint name="${side}_ft_sensor_adapter_top_joint" type="revolute">                                       <origin xyz="0 0 ${ft_sensor_length}" rpy="0 0 0" />                                                <parent link="${side}_ft_sensor_link" />
         <child  link="${side}_adapter_top" />
         <axis xyz="1 0 0"/>
         <limit lower="-0.001" upper="0.001" effort="1000" velocity="1000"/>
    </joint>

    <gazebo reference="${side}_ft_sensor_adapter_top_joint">
    	<provideFeedback>true</provideFeedback>
    </gazebo>

<gazebo>
  <plugin name="gazebo_ros_ft_sensor" filename="libgazebo_ros_ft_sensor.so">
    <!-- Required parameters -->
    <updateRate>100.0</updateRate>
    <always_on>true</always_on>
    <pose>0 0 0 3.1416 0 1.570759</pose>
    <jointName>${side}_ft_sensor_adapter_top_joint</jointName>
    <topicName>/robot/ft_sensor_topic</topicName>
    <force_torque>
    	<frame>sensor</frame>
    </force_torque>
  </plugin>
</gazebo>

    <!-- Adapter Top Part Link -->
    <link name="${side}_adapter_top">
      <visual>
	      <origin xyz="0 0 ${adapter_top_length}" rpy="${-pi/2} 0 0" />
        <geometry>
		<mesh filename="package://intera_tools_description/meshes/smart_pneumatic_gripper/STL/ft_gripper_adapter_top.STL" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision>
	      <origin xyz="0 0 ${adapter_top_length*0.5}" rpy="0 0 0" />
        <geometry>
		<cylinder length="${adapter_top_length}" radius="0.046"/>
        </geometry>
        <material name="darkred">
          <color rgba=".5 .1 .1 1"/>
        </material>
      </collision>
      <inertial>
        <origin rpy="${-pi/2} 0 0" xyz="0.0 0.0 ${adapter_top_length*0.5}"/>
        <mass value="0.067"/>
        <inertia ixx="0.0000352002" ixy="0" ixz="0" iyy="0.0000686304" iyz="0" izz="0.0000351976"/>
      </inertial>
    </link>
    <xacro:if value="${gazebo}">
      <gazebo reference="${side}_adapter_top">
        <material>Gazebo/Purple</material>
      </gazebo>
    </xacro:if>

    <!-- Top-Bottom Adapter Parts Joint -->
    <joint name="${side}_adapter_top_bottom_joint" type="fixed">        <origin xyz="0 0 ${adapter_top_length}" rpy="0 0 0" />                 <parent link="${side}_adapter_top" />
      <child  link="${side}_adapter_bottom" />
    </joint>

    <!-- Adapter Bottom Part Link -->
    <link name="${side}_adapter_bottom">
      <visual>
	      <origin xyz="0 0 ${adapter_bottom_length}" rpy="${-pi/2} 0 ${pi/2}" />
        <geometry>
		<mesh filename="package://intera_tools_description/meshes/smart_pneumatic_gripper/STL/ft_gripper_adapter_bottom.STL" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision>
	      <origin xyz="0 0 ${adapter_bottom_length*0.5}" rpy="0 0 ${pi/2}" />
        <geometry>
		<cylinder length="${adapter_bottom_length}" radius="0.046"/>
        </geometry>
        <material name="darkred">
          <color rgba=".5 .1 .1 1"/>
        </material>
      </collision>
      <inertial>
	<origin rpy="${-pi/2} 0 ${pi/2}" xyz="0.0 0.0 ${adapter_bottom_length*0.5}"/>
        <mass value="0.102"/>
        <inertia ixx="0.0000569055" ixy="0" ixz="0" iyy="0.0001084165" iyz="0" izz="0.0000570176"/>
      </inertial>
    </link>
    <xacro:if value="${gazebo}">
      <gazebo reference="${side}_adapter_bottom">
        <material>Gazebo/Purple</material>
      </gazebo>
    </xacro:if>


   <!-- Bottom Adapter- Pneumatic Gripper Base joint -->
    <joint name="${side}_pneumatic_base_joint" type="fixed">
	    <origin rpy="0 0 0" xyz="0 0 ${adapter_bottom_length}"/>
      <parent link="${side}_adapter_bottom"/>
      <child link="${side}_pneumatic_gripper_base"/>
    </joint>

   <!-- Bottom Adapter- Pneumatic Gripper Cover joint -->
    <joint name="${side}_pneumatic_cover_joint" type="fixed">
	    <origin rpy="0 0 0" xyz="0 0 ${adapter_bottom_length}"/>
      <parent link="${side}_adapter_bottom"/>
      <child link="${side}_pneumatic_gripper_cover"/>
    </joint>

    <!-- Pneumatic Gripper Base Link (actuator) -->
    <link name="${side}_pneumatic_gripper_base">
      <visual>
	      <origin rpy="${pi/2} 0 0" xyz="0 0 0"/>
        <geometry>
		<mesh filename="package://intera_tools_description/meshes/smart_pneumatic_gripper/STL/sz_16_base.STL" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision>
	      <origin rpy="0 0 0" xyz="-0.012 0 0.0196"/>
        <geometry>
	  <box size="0.056 0.0871 0.0392"/>
        </geometry>
        <material name="darkred">
          <color rgba=".5 .1 .1 1"/>
        </material>
      </collision>
      <inertial>
	      <origin rpy="${pi/2} 0 0" xyz="0.0 0.0 0.017"/>
        <mass value="0.359"/>
        <inertia ixx="0.0001531281" ixy="-2.4547146E-7" ixz="-3.4522E-10" iyy="0.0001380478" iyz="-2.6043E-10" izz="0.0000544404"/>
      </inertial>
    </link>
    <xacro:if value="${gazebo}">
      <gazebo reference="${side}_pneumatic_gripper_base">
        <material>Gazebo/DarkGrey</material>
      </gazebo>
    </xacro:if>


    <!-- Pneumatic Gripper Cover -->
    <link name="${side}_pneumatic_gripper_cover">
      <visual>
	      <origin rpy="0 0 ${pi}" xyz="0 0 0"/>
        <geometry>
		<mesh filename="package://intera_tools_description/meshes/smart_pneumatic_gripper/STL/gripper_base.STL" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
    </link>
    <xacro:if value="${gazebo}">
      <gazebo reference="${side}_pneumatic_gripper_cover">
        <material>Gazebo/FlatBlack</material>
      </gazebo>
    </xacro:if>


    <!-- Left finger joint -->
    <joint name="${side}_gripper_l_finger_joint" type="prismatic">
      <origin rpy="0 0 0" xyz="0 0 ${pneumatic_gripper_base_length}"/>
      <axis xyz="0 1 0"/>
      <parent link="${side}_pneumatic_gripper_base"/>
      <child link="${side}_gripper_l_finger"/>
      <limit effort="20.0" lower="0.0" upper="0.016" velocity="5.0"/>
      <dynamics damping="100.0" friction="500.0"/>
    </joint>

    <!-- Left finger gripper base link -->
   <link name="${side}_gripper_l_finger">
      <visual>
	      <origin rpy="${pi/2} 0 0" xyz="0 0.0295 0"/>
        <geometry>
	<mesh filename="package://intera_tools_description/meshes/smart_pneumatic_gripper/STL/sz_16_finger.STL" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision>
	      <origin rpy="${pi/2} 0 0" xyz="0 0.0295 0"/>
        <geometry>
          <box size="0 0 0"/>
        </geometry>
	  <material name="darkred">
            <color rgba=".5 .1 .1 1"/>
          </material>
      </collision>
      <inertial>
	      <origin rpy="${pi/2} 0 0" xyz="0 0.0435 0.005"/>
        <mass value="0.011"/>
        <inertia ixx="9.2817609E-7" ixy="0" ixz="0" iyy="0.0000010234" iyz="-3.31923299E-8" izz="3.3665975E-7"/>
      </inertial>
    </link>

    <xacro:if value="${gazebo}">
      <gazebo reference="${side}_gripper_l_finger">
        <material>Gazebo/Grey</material>
        <mu1>1000</mu1>
        <mu2>1000</mu2>
        <fdir1>0.0 0.0 1.0</fdir1>
        <kp>1e5</kp>
        <kd>1.0</kd>
      </gazebo>
    </xacro:if>

    <!-- Left finger gripper base - finger base joint -->
    <joint name="${side}_gripper_l_finger_base_joint" type="fixed">
	    <origin rpy="0 0 0" xyz="0 0 0.012"/>
      <parent link="${side}_gripper_l_finger"/>
      <child link="${side}_gripper_l_finger_base"/>
    </joint>

    <!-- Left finger base link -->
    <link name="${side}_gripper_l_finger_base">
      <visual> 
	      <origin rpy="0 0 ${pi/2}" xyz="0 0.0185 0"/>
        <geometry>
        <mesh filename="package://intera_tools_description/meshes/smart_pneumatic_gripper/STL/pneumatic_finger_base.STL" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision>
	      <origin rpy="0 0 ${pi/2}" xyz="0 0.047 0.003"/>
        <geometry>
          <box size="0.085 0.024 0.006"/>
        </geometry>
	  <material name="darkred">
            <color rgba=".5 .1 .1 1"/>
          </material>
      </collision>
      <inertial>
	      <origin rpy="0 0 ${pi/2}" xyz="0 0.0495 0.003"/>
        <mass value="0.027"/>
        <inertia ixx="0.0000012665" ixy="-1.23E-12" ixz="1.166012E-8" iyy="0.0000160553" iyz="-1.23E-12" izz="0.0000171552"/>
      </inertial>
    </link>

    <!-- Left finger base - finger body joint -->
    <joint name="${side}_gripper_l_finger_body_joint" type="fixed">
	    <origin rpy="0 0 0" xyz="0 ${(finger_slot_pos-1)*0.008} 0.006"/>
      <parent link="${side}_gripper_l_finger_base"/>
      <child link="${side}_gripper_l_finger_body"/>
    </joint>

    <!-- Left finger body link -->
   <link name="${side}_gripper_l_finger_body">
      <visual>
	      <origin rpy="0 0 ${pi/2}" xyz="0 -0.0035 0"/>
        <geometry>
        <mesh filename="package://intera_tools_description/meshes/smart_pneumatic_gripper/STL/pneumatic_finger.STL" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision>
	  <origin rpy="0 0 0" xyz="0 -0.0005 0.03975"/>
        <geometry>
          <box size="0.0275 0.006 0.0795"/>
        </geometry>
	  <material name="darkred">
            <color rgba=".5 .1 .1 1"/>
          </material>
      </collision>
      <inertial>
	      <origin rpy="0 0 ${pi/2}" xyz="0.0 0.00 0.035"/>
        <mass value="0.036"/>
        <inertia ixx="0.0000239168" ixy="3.1961E-10" ixz="-9.4649889E-7" iyy="0.0000219249" iyz="-2.81633999E-9" izz="00.0000026702"/>
      </inertial>
    </link>

    <!-- Left finger body - finger tip joint -->
    <joint name="${side}_gripper_l_finger_tip_joint" type="fixed">
	    <origin rpy="0 0 0" xyz="0 0 0"/>
      <parent link="${side}_gripper_l_finger_body"/>
      <child link="${side}_gripper_l_finger_tip"/>
    </joint>

    <!-- Left finger tip link -->
   <link name="${side}_gripper_l_finger_tip">
      <visual>
	      <origin rpy="0 0 ${pi/2}" xyz="0 -0.0035 ${0.0726-((tip_slot_pos-1)*0.015)}"/>
        <geometry>
        <mesh filename="package://intera_tools_description/meshes/smart_pneumatic_gripper/STL/pneumatic_finger_tip.STL" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision>
	      <origin rpy="0 0 ${pi/2}" xyz="0 -0.0035 ${0.0726-((tip_slot_pos-1)*0.015)}"/>
        <geometry>
              <mesh filename="package://intera_tools_description/meshes/smart_pneumatic_gripper/STL/pneumatic_finger_tip.STL" scale="0.001 0.001 0.001"/> 
        </geometry>
	  <material name="darkred">
            <color rgba=".5 .1 .1 1"/>
          </material>
      </collision>
      <inertial>
	      <origin rpy="0 0 ${pi/2}" xyz="0 -0.0085 ${0.0726-((tip_slot_pos-1)*0.015)}"/>
        <mass value="0.0138"/>
        <inertia ixx="0.0000049904" ixy="0" ixz="0" iyy="0.0000011238" iyz="0" izz="0.0000040782"/>
      </inertial>
    </link>

    <xacro:if value="${gazebo}">
      <gazebo reference="${side}_gripper_l_finger_tip">
        <mu1>1000000.0</mu1>
        <mu2>1000000.0</mu2>
      </gazebo>
    </xacro:if>


    <!-- Right finger joint -->
    <joint name="${side}_gripper_r_finger_joint" type="prismatic">
      <origin rpy="0 0 0" xyz="0 0 ${pneumatic_gripper_base_length}"/>
      <axis xyz="0 1 0"/>
      <parent link="${side}_pneumatic_gripper_base"/>
      <child link="${side}_gripper_r_finger"/>
      <limit effort="20.0" lower="-0.016" upper="0.0" velocity="5.0"/>
      <mimic joint="${side}_gripper_l_finger_joint" multiplier="-1.0"/>
      <dynamics damping="100.0" friction="500.0"/>
    </joint>

    <!-- Right finger gripper base link -->
   <link name="${side}_gripper_r_finger">
      <visual>
	      <origin rpy="${pi/2} 0 ${pi}" xyz="0 -0.0295 0"/>
        <geometry>
	<mesh filename="package://intera_tools_description/meshes/smart_pneumatic_gripper/STL/sz_16_finger.STL" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision>
	      <origin rpy="${pi/2} 0 ${pi}" xyz="0 -0.0295 0"/>
        <geometry>
          <box size="0 0 0"/>
        </geometry>
      </collision>
      <inertial>
	      <origin rpy="${pi/2} 0 ${pi}" xyz="0 -0.0435 0.005"/>
        <mass value="0.011"/>
        <inertia ixx="9.2817609E-7" ixy="0" ixz="0" iyy="0.0000010234" iyz="-3.31923299E-8" izz="3.3665975E-7"/>
      </inertial>
    </link>

    <xacro:if value="${gazebo}">
      <gazebo reference="${side}_gripper_r_finger">
        <material>Gazebo/Grey</material>
        <mu1>1000</mu1>
        <mu2>1000</mu2>
        <fdir1>0.0 0.0 1.0</fdir1>
        <kp>1e5</kp>
        <kd>1.0</kd>
      </gazebo>
    </xacro:if>

    <!-- Right finger gripper base - finger base joint -->
    <joint name="${side}_gripper_r_finger_base_joint" type="fixed">
	    <origin rpy="0 0 0" xyz="0 0 0.012"/>
      <parent link="${side}_gripper_r_finger"/>
      <child link="${side}_gripper_r_finger_base"/>
    </joint>

    <!-- Right finger base link -->
   <link name="${side}_gripper_r_finger_base">
      <visual>
	      <origin rpy="0 0 ${-pi/2}" xyz="0 -0.0185 0"/>
        <geometry>
        <mesh filename="package://intera_tools_description/meshes/smart_pneumatic_gripper/STL/pneumatic_finger_base.STL" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision>
              <origin rpy="0 0 ${-pi/2}" xyz="0 -0.047 0.003"/>
        <geometry>
          <box size="0.085 0.024 0.006"/>
        </geometry>
          <material name="darkred">
            <color rgba=".5 .1 .1 1"/>
          </material>
      </collision>
      <inertial>
	      <origin rpy="0 0 ${-pi/2}" xyz="0 -0.0495 0.003"/>
        <mass value="0.027"/>
        <inertia ixx="0.0000012665" ixy="-1.23E-12" ixz="1.166012E-8" iyy="0.0000160553" iyz="-1.23E-12" izz="0.0000171552"/>
      </inertial>
    </link>

    <!-- Right finger base - finger body joint -->
    <joint name="${side}_gripper_r_finger_body_joint" type="fixed">
	    <origin rpy="0 0 0" xyz="0 ${(finger_slot_pos-1)*-0.008} 0.006"/>
      <parent link="${side}_gripper_r_finger_base"/>
      <child link="${side}_gripper_r_finger_body"/>
    </joint>

    <!-- Right finger body link -->
   <link name="${side}_gripper_r_finger_body">
      <visual>
	      <origin rpy="0 0 ${-pi/2}" xyz="0 0.0035 0"/>
        <geometry>
        <mesh filename="package://intera_tools_description/meshes/smart_pneumatic_gripper/STL/pneumatic_finger.STL" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision>
          <origin rpy="0 0 0" xyz="0 0.0005 0.03975"/>
        <geometry>
          <box size="0.0275 0.006 0.0795"/>
        </geometry>
          <material name="darkred">
            <color rgba=".5 .1 .1 1"/>
          </material>
      </collision>
      <inertial>
	      <origin rpy="0 0 ${-pi/2}" xyz="0 0.0 0.035"/>
        <mass value="0.036"/>
        <inertia ixx="0.0000239168" ixy="3.1961E-10" ixz="-9.4649889E-7" iyy="0.0000219249" iyz="-2.81633999E-9" izz="00.0000026702"/>
      </inertial>
    </link>

    <!-- Right finger body - finger tip joint -->
    <joint name="${side}_gripper_r_finger_tip_joint" type="fixed">
	    <origin rpy="0 0 0" xyz="0 0 0"/>
      <parent link="${side}_gripper_r_finger_body"/>
      <child link="${side}_gripper_r_finger_tip"/>
    </joint>

    <!-- Right finger tip link -->
   <link name="${side}_gripper_r_finger_tip">
      <visual>
	      <origin rpy="0 0 ${-pi/2}" xyz="0 0.0035 ${0.0726-((tip_slot_pos-1)*0.015)}"/>
        <geometry>
        <mesh filename="package://intera_tools_description/meshes/smart_pneumatic_gripper/STL/pneumatic_finger_tip.STL" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision>
              <origin rpy="0 0 ${-pi/2}" xyz="0 0.0035 ${0.0726-((tip_slot_pos-1)*0.015)}"/>
        <geometry>
              <mesh filename="package://intera_tools_description/meshes/smart_pneumatic_gripper/STL/pneumatic_finger_tip.STL" scale="0.001 0.001 0.001"/>
        </geometry>
          <material name="darkred">
            <color rgba=".5 .1 .1 1"/>
          </material>
      </collision>
      <inertial>
	      <origin rpy="0 0 ${-pi/2}" xyz="0 0.0085 ${0.0726-((tip_slot_pos-1)*0.015)}"/>
        <mass value="0.0138"/>
        <inertia ixx="0.0000049904" ixy="0" ixz="0" iyy="0.0000011238" iyz="0" izz="0.0000040782"/>
      </inertial>
    </link>

    <xacro:if value="${gazebo}">
      <gazebo reference="${side}_gripper_r_finger_tip">
        <mu1>1000000.0</mu1>
        <mu2>1000000.0</mu2>
      </gazebo>
    </xacro:if>


<!-- Reference Joints, and links, non-visual, for transform references, and motion planning purposes -->
    <!--To connect this file with the sawyer_base.urdf.xacro a joint must be created between link "right_hand" in the latter file and "pneumatic_gripper_base", this way there is a transform between the robot last link and the End Of Arm Tooling in this file -->

    <!-- Gripper Base Joint -->
    <!-- "right_hand" link position is with respect to its correponding joint, so the end_of_arm_offset is with respect to the last joint at the robot end effector at sawyer_base.urdf.xacro -->

    <joint name="${side}_gripper_base_joint" type="fixed">						  
      <origin rpy="0 0 0" xyz="0 0 ${end_of_arm_offset}"/>
      <parent link="${side}_hand"/>
      <child link="${side}_gripper_base"/>
    </joint>

    <!-- To give a reference of the the Tool Center Point which is at the gripper fingers center a joint and link is created, these are for reference in motion planning context --> 

    <!-- Gripper Tip joint -->
    <joint name="${side}_gripper_tip_joint" type="fixed">
      <origin rpy="0 0 0" xyz="0 0 ${(end_of_arm_offset*-1)+connector_plate_length+ft_sensor_length+adapter_top_length+adapter_bottom_length+pneumatic_gripper_base_length+finger_total_length}"/>
      <parent link="${side}_gripper_base"/>
      <child link="${side}_gripper_tip"/>
    </joint>

    <!-- Pneumatic Gripper Tip link -->
    <link name="${side}_gripper_tip">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="2e-06"/>
        <inertia ixx="1.1e-09" ixy="0" ixz="0" iyy="1.1e-09" iyz="0" izz="1.1e-09"/>
      </inertial>
      <visual>
	<origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <box size="0.0001 0.0001 0.0001"/>
        </geometry>
	</visual>
    </link>

    <!-- Gazebo References -->
        <xacro:if value="${gazebo}">
    <transmission name="gripper_${side}1">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${side}_gripper_r_finger_joint">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="gripper_${side}1_motor1">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
    <transmission name="gripper_${side}2">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${side}_gripper_l_finger_joint">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="gripper_${side}1_motor2">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
    <gazebo reference="${side}_gripper_r_finger_joint">
      <implicitSpringDamper>1</implicitSpringDamper>
    </gazebo>
    <gazebo reference="${side}_gripper_l_finger_joint">
      <implicitSpringDamper>1</implicitSpringDamper>
    </gazebo>
    </xacro:if>

  </xacro:macro>
</robot>
